* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #0144E4; 
    --background-color: #ffff;
    --font-color: #14192B;
    --light-font-color: #888B94;
    --font-size: 16px; /* Base font size */
  }

body {
    font-family: 'Poppins', sans-serif;
}

body a {
    text-decoration: none;
}

/*navigation design*/

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 12rem 1rem;
    border-bottom: 1px solid #ddd;
}

.navigation__list {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.navigation .logo img {
    width: 110px;
    max-width: 100%;
}

.navigation__list li a {
    display: block;
    color: #1B192B;
    padding: 1rem;
    font-weight: 500;
    font-size: var(--font-size);
}

.navigation__button {
    background-color: var(--primary-color);
    color: #fff;
    padding: 16px 32px;
    font-size: var(--font-size);
    font-weight: 500;
    border-radius: 6px;
}

/*hero section design*/

section {
    padding: 8rem 12rem 3rem ;
}

.hero__headline{
    font-size: 4.3rem;
    font-weight: 500;
    line-height: 1.1;
}

.hero__text {
    font-size: 1.4rem;
    color: var(--light-font-color);
    padding: 1.3rem 0;
}

.hero__buttons {
    margin-top: 3rem;
}

.hero__buttons a {
    background-color: var(--primary-color);
    color: #fff;
    padding: 16px 32px;
    font-size: var(--font-size);
    font-weight: 500;
    border-radius: 6px;
}

.hero__buttons a:last-child {
    background-color: transparent;
    border: 1px solid #ddd;
    color: #1B192B;
    margin-left: 1.2rem;
}

